{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title> Welcome to TodoList </title>
		<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="header">
			<h1 id="maintitle">TodoList</h1>
		</div>
	    <div class="maincontent">
			{% block content %}
			{% endblock content %}
		</div>
		<script>
			path = "{% url 'newtask' %}"
			ctoken = "{{ csrf_token }}"
		</script>
		<script type="text/javascript" src="{% static 'main.js' %}"></script>
	</body>
	
</html>