{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title> TodoList </title>
		<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" >
		<link rel="icon" href="{% static 'listlogo.png' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="header">
			<img src="{% static 'listlogo.png' %}" id="logo">
			<h1 id="maintitle">TodoList</h1>
		</div>
	    <div class="maincontent">
			{% block content %}
			{% endblock content %}
		</div>
		<div class="modal" id="newCategory">
			<div class="modalContent" id="newCategoryWindow">
				<div class="topModalSection">
					<h2 id="addList">Add List</h2>
					<span class="close" id="closeX">&times;</span>
				</div>
				<form id="newList">
					<input type="text" name="newList" placeholder="New List..." id="newListText" autocomplete="off">
					<div class="buttonArea">
						<input type="submit" value="Add List">
						<input type="button" value="Cancel" class="close cancel">
					</div>
				</form>
			</div>
		</div>
		<script>
			taskPath = "{% url 'newtask' %}"
			listPath = "{% url 'newlist' %}"
			ctoken = "{{ csrf_token }}"
		</script>
		<script type="text/javascript" src="{% static 'main.js' %}"></script>
	</body>
	
</html>