{% extends 'base.html' %}

{% block content %}
<div class="sidebar" id="sidebar">
	<!-- <h2 id="labels"> Labels </h2> -->
	<ul>
		<li class="side active" id="tabAll"><a onclick="openCategory('All')"> All </a></li>
		{% for c in categories %}
			<li class="side" id="{{'tab'|add:c.name}}"><a href="#" onclick="openCategory('{{ c.name }}')"> {{ c.name }} </a></li>
		{% endfor %}
	</ul>
</div>
<div class="content">
	<div class="taskForm"> 
		<form id="newTask">
			<input type="text" name="newTask" placeholder="New Task...">
			<select name="taskCategory">
				{% for c in categories %}
					<option value="{{ c.name }}">{{ c.name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Add Task">
		</form>
	</div>
	<div class="taskList" id="categoryContent">
		<ul>
			{% for c in categories %}
				<br>
				<div id="{{'category'|add:c.name}}">  
				<h1> {{ c.name }} </h1>
				{% for t in c.task_set.all %}
					<li> {{ t.title }} </li>
				{% endfor %}
				</div>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock content %}