{% extends 'base.html' %}

{% block content %}
<div class="sidebar" id="sidebar">
	<ul>
		<li class="side" id="tabAll"><a onclick="openCategory('All')"> All </a></li>
		{% for c in categories %}
			<li class="side" id="{{'tab'|add:c.name}}"><a href="#" onclick="openCategory('{{ c.name }}')"> {{ c.name }} </a></li>
		{% endfor %}
	</ul>
</div>
<div class="content" id="categoryContent">
	<ul>
		{% for c in categories %}
			<div id="{{'category'|add:c.name}}">  
			<h1> {{ c.name }} </h1>
			{% for t in c.task_set.all %}
				<li> {{ t.title | capfirst }} </li>
			{% endfor %}
			<br>
			</div>
		{% endfor %}
	</ul>
</div>
{% endblock content %}