{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sidebar" id="sidebar">
	<!-- <h2 id="labels"> Labels </h2> -->
	<ul id="listTabs">
		<li class="side active" id="tabAll"><a onclick="openCategory('All')"> All </a></li>
		{% for c in categories %}
			<li class="side" id="{{'tab'|add:c.name}}"><a onclick="openCategory('{{ c.name }}')"> {{ c.name }} </a></li>
		{% endfor %}
		<li class="side" id="tabNewCategory"><a onclick="addCategory()"> Add List </a></li>
	</ul>
</div>
<div class="content">
	<div class="taskForm"> 
		<form id="newTask">
			<div class="textArea">
				<input type="text" name="newTask" placeholder="New Task..." id="taskTextInput" autocomplete="off">
				<!-- <div class="textInput"> -->
				<!-- </div> -->
				<div class="dropDown">
					<a class="categoryDropDown" id="categoryDropDown" onclick="showCategories()">
						<span id="selectedCategory">List&nbsp;&nbsp;</span><span id="downIcon">&#9662;</span>
					</a>
					<select name="taskCategory" id="taskCategory">
						{% for c in categories %}
							<option value="{{ c.name }}">{{ c.name }}</option>
						{% endfor %}
					</select>
					<!-- <p> hellow</p> -->
				</div>
				<div class="dropDownBox" id="newDropDownBox"> 	
					<ul class="dropDownList">
						{% for c in categories %}
							<li> <a class="dropDownItem" onclick="selectCategory('{{ c.name }}')">{{ c.name }} </a></li>
						{% endfor %}
					</ul>
				</div>
			<div class="submitButton">
				<input type="submit" value="Add Task">
			</div>
		</form>
	</div>

	<div class="taskList" id="categoryContent">
		<ul id="listNames">
			{% for c in categories %}
				<div id="{{'category'|add:c.name}}" class="catDetails">  
					<h1> {{ c.name }} </h1>
					
					{% for t in c.task_set.all %}
						{% with t.id|stringformat:"s" as taskid %}
						<li class="task" id="{{'taskDiv'|add:taskid}}">
							<a class="taskLink"> 
								<input type="checkbox" id="{{'check'|add:taskid}}" name="{{'check'|add:taskid}}">
								<label for="{{'check'|add:taskid}}"></label>
								<span>{{ t.title }}</span>
								<img src="{% static 'ellipsis.svg' %}" class="ellipsis" id="{{'task'|add:taskid}}">
							</a>
							<div class="dropDownBox taskDropDown" id="{{'ddtask'|add:taskid}}">
								<ul class="dropDownList">
									<li> <a class="dropDownItem">Delete</a></li>
								</ul>
							</div>
						</li>
						{% endwith %}
					{% endfor %}
					
					<br>
				</div>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock content %}