{% load static %}
{% for c in categories %}
	{% with c.id|stringformat:"s" as cid %}
	<div id="{{'category'|add:cid}}" class="catDetails">  
	{% endwith %}
		<h1> {{ c.name }} </h1>
		
		{% for t in c.task_set.all %}
			{% with t.id|stringformat:"s" as taskid %}
			<li class="task" id="{{'taskDiv'|add:taskid}}">
				<a class="taskLink"> 
					<input type="checkbox" id="{{'check'|add:taskid}}" name="{{'check'|add:taskid}}">
					<label for="{{'check'|add:taskid}}"></label>
					<span>{{ t.title }}</span>
					<img src="{% static 'ellipsis.svg' %}" class="ellipsis" id="{{'task'|add:taskid}}">
				</a>
				<div class="dropDownBox taskDropDown" id="{{'ddtask'|add:taskid}}">
					<ul class="dropDownList">
						<li> 
							<a class="dropDownItem settingDropDown">
								<img src="{% static 'trash.svg' %}" class="trashIcon"><span class="delete">Delete</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			{% endwith %}
		{% endfor %}
		
		<br>
	</div>
{% endfor %}
