body {
	margin: 0 auto;
	font-family: Roboto, sans-serif;
}

main {
	margin: 0;
}

.header {
	background-color: white;
	box-shadow: 0 1px 10px #CCCCCC;
	height: 55px;
	margin: 0;
	position: relative;
	z-index:10;
}

#logo {
	margin-top:5px;
	margin-left:20px;
	margin-right:15px;
	width: 45px;
	height: 45px;
	/*display: inline;*/
	float: left;
}

#maintitle {
	padding-top: 15px;
	margin: 0;
	padding-left:10px;
	font-family: Roboto, sans-serif;
	font-size: 1.5em;
	/*display: inline;*/
}

/*#label {
	font-size: 1em;
	margin-left: 30px;
}*/

ul {
	list-style-type: none;
	padding-left: 0;
}


.side {
	/*margin: 20px 0;*/
	font-size: 1em;
	padding: 20px 20px;
	border-radius: 3px;
}

.side:hover {
	background-color: rgba(109, 179, 201, 0.08);
}

.side.active:hover {
	background-color: rgba(109, 179, 201, 0.2);
}

li.active {
	background-color: rgba(109, 179, 201, 0.2);
	/*background-color: #ffffff;*/
}

.active > a {
	/*color:#ffffff;*/
	font-weight: bold;
}



a {
	color: #333333;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

a:hover {
	/*color: #3298cf;*/
}

h1 {
	font-size: 1.3em;
}

h2#addList {
	font-size: 1.3em;
	display: inline;
}

.sidebar {
	background-color: #f5f5f5;
	/*margin: -20px auto;*/
	padding: 0px 15px;
	width: 230px;
	height: 650px;
	position: fixed;
	overflow: auto;
	/*top: 70px;*/
	z-index: 5;
	/*border-right: 1px solid #eaeaea;*/
}


.maincontent {
	position: fixed;
	/*z-index: -1;*/
	/*overflow: auto;*/
	height: 100%;
	/*width: 100%;*/
}

.taskForm {
	padding-top: 15px;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.2); 
	z-index: 20;
}


#newCategoryWindow {
	margin: 10% auto;
	background-color: #ffffff;
	padding: 20px 20px;
	width: 400px;
	box-shadow: 1px 1px 10px #BBBBBB;
	border-radius: 5px;
}

input {
	cursor: pointer;
}

input[type=text] {
	margin: 10px 0px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid rgba(50, 152, 207, 0.0) ;
	background-color: rgba(230,230,230,0.35);
	padding:15px;
	font-size: 0.9em;
	/*float: left;*/
	/*display:block;*/
}

input[type=submit] {
	border: 1px solid rgba(0,0,0,0) ;
	color: white;
	background-color: #3c98c9;
	border-radius: 3px;
	font-size: 0.8em;
	padding:8px 16px;
	font-weight: bold;
	float: left;
	/*display: block;*/
}

input[type=button] {
	border: 0px;
	display: inline;
}

input[type=checkbox] {
	margin-right: 10px;
}

input:focus {
	outline: none;
	border: 1px solid rgba(50, 152, 207, 0.4);
}

label {
	border-radius: 50%;
}

#closeX {
	display: inline;
	float: right;
	cursor: pointer;
}

.cancel {
	display: inline;
	float: left;
	padding: 9px 16px;
	margin-left: 2px;
	font-size: 0.8em;
	border-radius: 5px;
	color: rgb(50, 152, 207);
}

.cancel:hover {
	background-color: rgba(200, 200, 200, 0.1);
}

.close:hover {
	font-weight: bold;
}

#taskTextInput {
	width: 500px;
	height: 45px;
	border-radius: 5px 0px 0px 5px;
	/*float: left;*/
}

.submitButton {
	/*display: block;*/
}

.task {
	padding: 13px;
	border-bottom: 1px solid #EDEDED;
}

#newListText {
	padding: 10px;
	width: 360px;
	margin-top: 20px;
}

#categoryContent {
	/*position: relative;*/
	height: 75%;
	overflow: auto;
}

select {
	margin-top: 100px;
	display: block;
}

.content {
	margin-left: 310px;
	position: fixed;
	/*overflow: auto;*/
	color: #222222;
	height: 100%;
	z-index: -100;
}

.textArea {
	/*display: inline;*/
	
	/*background-color: black;*/
	/*float: left;*/
	display: inline-block;
}

#taskTextInput {
	float: left;
	display:block;
}

.dropDown {
	position:relative;
	float: left;
	background-color: rgba(230,230,230,0.3);
	width:100px;
	height:45px;
	margin: 10px 0px;
	border-radius: 0px 5px 5px 0px;
	border-left: 1px solid #EEEEEE;
	overflow: hidden;
	/*display: block;*/
}

.categoryDropDown {
	color: #889;
	font-size: 0.9em;
	border-radius: 0px 5px 5px 0px;
	/*margin: 10px 10px;*/
}

#selectedCategory {
	display: inline-block;
	padding: 15px;
	width: 38px;
	overflow: hidden;
	/*height: 20px;*/
}

#downIcon {
	position: relative;
	top: -19px;
	left: 5px;
	/*display: inline-flex;*/
	/*padding-bottom: 10px;*/

}

.dropDownBox {
	position: absolute;
	/*width: 100px;*/
	background-color: white;
	box-shadow: 1px 1px 20px #DDD;
	margin-left: 501px;
	margin-top: 55px;
	display: none;
	border-radius: 5px;
	overflow: auto;
}

.taskDropDown {
	margin-left: 478px;
	margin-top: 0px;
}


.dropDownList {
	margin: 3px;
}

.dropDownItem {
	/*margin: 5px;*/
	padding: 15px 20px;
	border-radius: 5px;
	border-bottom: 1px solid #F4F4F4;
}

.dropDownItem:hover {
	background-color: rgba(109, 179, 201, 0.2);
	color: #3298cf;
}

.buttonArea {
	padding: 10px 0px;
}

.ellipsis {
	margin-top: 3px;
	height: 13px;
	width: 13px;
	filter: invert(43%) sepia(1%) saturate(1802%) hue-rotate(169deg) brightness(104%) contrast(71%);;
	float: right;
	display: none;
	padding: 3px;
	border-radius: 5px;
}

.categoryLink > .ellipsis {
	margin-top: 0px;
}

.taskLink {
	padding-bottom: 5px; 
}

.taskLink:hover {
	color: inherit;
}

.taskLink:hover > .ellipsis {
	display: block;
}

.categoryLink:hover > .ellipsis {
	display: block;
}


.ellipsis.active {
	display: block;
	background-color: rgba(200, 200, 200, 0.2);
}

.listDropDown {
	margin-left: 94px;
	margin-top: 5px;
	/*display: block;*/
	position: absolute;
	/*z-index: 1000;*/
	/*overflow:;*/
}

.addIcon {
	width: 20px;
	height: 20px;
	filter: invert(43%) sepia(89%) saturate(326%) hue-rotate(155deg) brightness(106%) contrast(95%);
	display: block;
	float: left;
	/*margin: 5px;*/
	/*filter equivalent to the color #3c98c9*/
	/*margin-top:10px;*/
	/*margin: auto;*/
	margin-top:-2px;
}

#addList {
	margin: 10px;
}

.addListLink {
	/*padding: 30px;*/

}

.topModalSection {
	width: 100%;
	border-bottom: 0.5px solid #DDD;
	/*margin-left: 25px;*/
	/*margin-right: 25px;*/
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#newList {
	padding-bottom: 20px;
}

#tabNewCategory {
	margin-top: 10px;
	border-top: 0.5px solid #DDD;
}

.trashIcon {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
}

.settingDropDown {
	font-size: 0.9em;
	padding: 15px;
}

.delete {
	padding-left: 8px;
}

.settingDropDown:hover {
	color: inherit;
}

.listIcon {
	height: 12px;
	width: 12px;
	padding-right: 10px;
	/*float: left;*/
	/*display: block;*/
}

.checkBoxContainer input {
	display: none;
}

.checkBoxContainer {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.customCheckBox {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #EEEEEE;
	border-radius: 10px;
	margin: 5px 5px;
	position: absolute;
}

.checkBoxContainer input:checked + .customCheckBox {
	background-color: #6bb6c9;
}

.checkBoxContainer input:checked + .customCheckBox::after {
	content: "";
	height: 9px;
	width: 4px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	position: absolute;
	transform: translate(120%, 30%) rotate(45deg);
}

.taskTitle {
	display: inline-block;
	margin-left: 45px;
	margin-top: 6px;
}

.taskLink > .ellipsis {
	margin-top: 7px;
}







